In [62]:
#先導入資料處理會用到的模組
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

# 可視化模組
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

# 機器學習模組
import sklearn

# 表示到小數第三位
%precision 3

'%.3f'

In [63]:
# 開啟 CSV 檔案
dataset= pd.read_csv('data.csv')

In [64]:
dataset.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,"55,2","16,98","3019,53","557,434","395,713","10,0664","1,74","249,214","253,235",...,"250,884","457,396","432,962","424,954","443,558","502,255","446,37","523,344","66,91","1,31"
1,2017-03-10 01:00:00,"55,2","16,98","3024,41","563,965","397,383","10,0672","1,74","249,719","250,532",...,"248,994","451,891","429,56","432,939","448,086","496,363","445,922","498,075","66,91","1,31"
2,2017-03-10 01:00:00,"55,2","16,98","3043,46","568,054","399,668","10,068","1,74","249,741","247,874",...,"248,071","451,24","468,927","434,61","449,688","484,411","447,826","458,567","66,91","1,31"
3,2017-03-10 01:00:00,"55,2","16,98","3047,36","568,665","397,939","10,0689","1,74","249,917","254,487",...,"251,147","452,441","458,165","442,865","446,21","471,411","437,69","427,669","66,91","1,31"
4,2017-03-10 01:00:00,"55,2","16,98","3033,69","558,167","400,254","10,0697","1,74","250,203","252,136",...,"248,928","452,441","452,9","450,523","453,67","462,598","443,682","425,679","66,91","1,31"

In [65]:
#資料前處理（逗號轉回小數點）
dataset['% Iron Feed'] = dataset['% Iron Feed'].str.replace(',','.').astype(float)
dataset['% Silica Feed'] = dataset['% Silica Feed'].str.replace(',','.').astype(float)
dataset['Starch Flow'] = dataset['Starch Flow'].str.replace(',','.').astype(float)
dataset['Amina Flow'] = dataset['Amina Flow'].str.replace(',','.').astype(float)
dataset['Ore Pulp Flow'] = dataset['Ore Pulp Flow'].str.replace(',','.').astype(float)
dataset['Ore Pulp pH'] = dataset['Ore Pulp pH'].str.replace(',','.').astype(float)
dataset['Ore Pulp Density'] = dataset['Ore Pulp Density'].str.replace(',','.').astype(float)
dataset['Flotation Column 01 Air Flow'] = dataset['Flotation Column 01 Air Flow'].str.replace(',','.').astype(float)
dataset['Flotation Column 02 Air Flow'] = dataset['Flotation Column 02 Air Flow'].str.replace(',','.').astype(float)
dataset['Flotation Column 03 Air Flow'] = dataset['Flotation Column 03 Air Flow'].str.replace(',','.').astype(float)
dataset['Flotation Column 04 Air Flow'] = dataset['Flotation Column 04 Air Flow'].str.replace(',','.').astype(float)
dataset['Flotation Column 05 Air Flow'] = dataset['Flotation Column 05 Air Flow'].str.replace(',','.').astype(float)
dataset['Flotation Column 06 Air Flow'] = dataset['Flotation Column 06 Air Flow'].str.replace(',','.').astype(float)
dataset['Flotation Column 07 Air Flow'] = dataset['Flotation Column 07 Air Flow'].str.replace(',','.').astype(float)
dataset['Flotation Column 01 Level'] = dataset['Flotation Column 01 Level'].str.replace(',','.').astype(float)
dataset['Flotation Column 02 Level'] = dataset['Flotation Column 02 Level'].str.replace(',','.').astype(float)
dataset['Flotation Column 03 Level'] = dataset['Flotation Column 03 Level'].str.replace(',','.').astype(float)
dataset['Flotation Column 04 Level'] = dataset['Flotation Column 04 Level'].str.replace(',','.').astype(float)
dataset['Flotation Column 05 Level'] = dataset['Flotation Column 05 Level'].str.replace(',','.').astype(float)
dataset['Flotation Column 06 Level'] = dataset['Flotation Column 06 Level'].str.replace(',','.').astype(float)
dataset['Flotation Column 07 Level'] = dataset['Flotation Column 07 Level'].str.replace(',','.').astype(float)
dataset['% Iron Concentrate'] = dataset['% Iron Concentrate'].str.replace(',','.').astype(float)
dataset['% Silica Concentrate'] = dataset['% Silica Concentrate'].str.replace(',','.').astype(float)
dataset.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31

In [66]:
# 為了資料分割(訓練資料與測試資料)的匯入
from sklearn.model_selection import train_test_split
# 為了多元線性迴歸模型建構的導入
from sklearn.linear_model import LinearRegression

 # 指定目標變數為price、其他為解釋變數
X = dataset.drop('% Silica Concentrate', axis=1)
Y = dataset['% Silica Concentrate']

# 分為訓練資料與測試資料
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.8, random_state=0)

# 多元線性迴歸的初始化學習
model = LinearRegression()
model.fit(X_train,Y_train)

# 顯示決定係數
print('決定係數(test):{:.3f}'.format(model.score(X_test,Y_test)))

ValueError: could not convert string to float: '2017-05-16 07:00:00'